body {
  background-color: #b0b7c1;
  font-family: "Century Gothic", Arial;
  padding: 1em 0 1em 0;
  color: #A239CA;
}

#row {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 1em 0 1em 0;
}

#left {
  padding: .5em 0 .5em 0;
  width: 40%;
  min-width: 24em;
  text-align: center;
  border-right: 1px solid #A239CA;
}

#right {
  padding: .5em 0 .5em 0;
  width: 60%;
  text-align: center;
}

#right-row {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-right: 1em;
}

#canvas-wrapper {
  width: 65%;
  height: 24em;
  min-width: 20em;
  max-width: 27em;
}

#space {
  width: 10%;
  min-width: 0em;
  max-width: 3em;
}

#key-wrapper {
  width:25%;
  min-width: 10em;
  max-width: 12em;
  padding-left: 0em;
  margin-top: 2em;
}

h1 {
  padding-bottom: .25em;
  font-size: 2em;
  text-decoration: underline double;
  font-weight: 300;
  font-style: italic;
}

h2 {
  font-weight: 100;
  font-style: italic;
  text-decoration: underline;
}

h3 {
  font-weight: 100;
  font-style: italic;
  text-align: left;
  border-bottom: solid thin #A239CA;
  padding-bottom: 5px;
  width: 8em;
}

main {
  width: 22em;
  margin: auto;
}

fieldset {
  padding: 10px;
  border: 1px solid;
  margin-bottom: 10px;
}

legend {
  font-weight: 900;
  font-style: italic;
  border: 2px solid;
  padding: 0 5px 0 5px;
  background-color: #dddddd;
}

label {
  display:inline-block;
  margin-bottom: 10px;
  margin-right: 1em;
  color: #8540bf;
  font-style: normal;
  text-align: right;
  width: 8em;
}

input {
  float:right;
  margin-right: 3em;
  width: 100px;
  text-align: right;
}

input:invalid {
  background-color: pink;
}

#btn-submit {
  margin-top: .25em;
  height: 2em;
}

#btn-clearForm {
  margin-top: .25em;
  height: 2em;
}

#graph {
  margin-bottom: 1em;
  height: 2em;
}
